
<tr class="event_list" data-time="<%=  readevent.created_at  %>">
	<td>
		<h3><%= readevent.description %></h3>
		<p>Start Date: <%= readevent.startdate %><br/>End Date: <%= readevent.enddate %></p>
	</td>

</tr>	