// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#home_page {background: url(/assets/bg.jpg) no-repeat;
background-size: 100% 100%;
color: white;
text-shadow: none;
}

.alignleft {
	float:left;
}
.alignright {
	float:right;
}


.logout {
position:relative;
margin-top:4px;
margin-left:auto;
margin-right:auto;
height:25px;
width:80px;
}



#balance {
margin-left: auto;
margin-right:auto;
max-width: 350px;
min-height: 100px;
background: rgb(180, 16, 23);
border:2px solid;
border-radius:25px;
color:white;
font-family: "Verdana";
font-size: 12px;
text-shadow: none;
}



#info{
display: block;
margin-left: auto;
margin-right:auto;
max-width: 350px;
min-height: 120px;
background: #305997;
border:2px solid;
border-radius:25px;
color:white;
font-family: "Verdana";
font-size: 12px;
text-shadow: none;
}


 table, tr, td{
 position: relative;
 margin: auto;


}

.td1 {
width:50%;
text-align:right
}

.spacer{
width:1%;

}




.image{
width:2%;
text-align:center;
}

.description{
width:50%
}

.mark_as_read{
width:1%;
text-align:right;

}




h3{
font-family: "Verdana";
}


#img{
	background-color: blue;
	position: relative;
	width:200px;
	height:112px;
}


#clublevelname{
position: absolute;
bottom:7px;
font-family: "Verdana";
font-size:12px;
color:black;
}


#clublevelid{
position: absolute;
bottom:7px;
font-family: "Verdana";
font-size:12px;
color:black;
}







.ui-icon-playershome {
	background: url("/assets/home-icon.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-promotion {
	background: url("/assets/p-icon4.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-event {
	background: url("/assets/event.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-offer {
	background: url("/assets/offer.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

.ui-icon-news {
	background: url("/assets/news.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}


