<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon" href="/assets/techresults.png" />
  <title>TR Casino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="https://pacific-reef-7298.herokuapp.com/socket.io/socket.io.js"></script> 
<script>
	var socket = io.connect('https://pacific-reef-7298.herokuapp.com');
	
	socket.on('news', function (data) {
		console.log(data);
		socket.emit('my other event', { my: 'data' });
	});
	
	socket.on('new_offer', function(data){
			
		var offer = '<table><tbody><tr class="offer_list_unread"><td class="spacer"><img alt="Spacer" src="/assets/spacer.png"></td><td class="image"><img alt="'+data["code"]+'o" height="60px" src="/assets/'+data["code"]+'o.png" width="60px"></td><td class="description"><h3>'+data["description"]+'</h3><p>Start Date:&nbsp'+data["startdate"]+'</p><p>End Date:&nbsp'+data["enddate"]+'</p></td><td class="mark_as_read"><img alt="Unread1" class="unread" src="/assets/unread1.png"><p class="read" style="display:none">/offers/'+data["id"]+'</p></tr></tbody></table>';
		$('#prepend_offer').prepend(offer);
		$('#home_notification').html('<img alt="light" height="30px" src="/assets/greenlight.png" width="35px" />');
		var count = $('#unread_bulbs').html();
		$('#unread_bulbs').html(parseInt(count,10)+1);
		console.log('new count ' + $('#unread_bulbs').html());
	});
</script>
<script>
	
	//click event on notification bulb

	$(document).on('click' ,'#home_notification', function() {
		$(this).html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
	});
			
</script>	
	


	<%= yield %>
<script>

$(document).on('pageinit','#home_page', function(){
			var playerid = $('#current_player').html();
			var offer_date = $('#last_offer').html();
			var event_date = $('#last_event').html();
			var promotion_date = $('#last_promotion').html();
			var notification_date = $('#last_notification').html();
			socket.emit('playerid' , playerid);
			socket.emit('offer', offer_date);
			socket.emit('event', event_date);
			socket.emit('promotion', promotion_date);
			socket.emit('notification', notification_date);

});

</script>
</body>
</html>




<body>
