<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon" href="/assets/techresults.png" />
  <title>TR Casino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>

	//click event on notification bulb

	$(document).on('click' ,'#home_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
	});
		
	$(document).on('click' ,'#offer_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
	});
	
	$(document).on('click' ,'#event_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		
	});	
	
	$(document).on('click' ,'#promotion_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
	});

	$(document).on('click' , '#notification_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		$('#notification_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
	});
	
	$(document).on('click' , '#show_offer_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');


	});
	
	$(document).on('click' ,'#show_event_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');


	});
	
	$(document).on('click' , '#show_promotion_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		$('#show_promotion_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');

	});
	
	$(document).on('click' , '#announcement_notification', function() {
		$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		$('#announcement_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');

	});
	
	
	//click event on notification itself turns off the notification bulb
	
	$(document).on('click' ,'#prepend_notification', function() {
		
		$(document).on('pageinit','#show_notification_page',function(event){
			$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
			$('#show_notification_page').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		});
	});
	
	
	$(document).on('click' , '#notification_list', function() {
		$(document).on('pageinit','#show_notification_page', function(event){
			$('#signin_notification').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
			$('#show_notification_page').html('<img alt="dark" height="31px" src="/assets/redlight.png" width="35px" />');
		});
	
	});
	

	
</script>	
	


	<%= yield %>

</body>
</html>




<body>
